<meta charset="UTF-8">
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Bysykler, stasjons-status</h2>
    <br/>
    <table class="gridtable" style="width:100%">
        <tr>
            <th>StasjonsNavn</th>
            <th>Ledige sykler</th>
            <th>Ledige låser</th>
        </tr>
        #foreach( $cityBikeStation in $cityBikeStationList )
                <td>$cityBikeStation.stationName</td>
                <td>$cityBikeStation.availableBikes</td>
                <td>$cityBikeStation.availableDocks</td>
            </tr>
        #end
    </table>
    <br/>
</body>
</html>